
  
  
      <style>
        @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-493488036726703221 .invisible{visibility:hidden}.gps-493488036726703221 .absolute{position:absolute}.gps-493488036726703221 .relative{position:relative}.gps-493488036726703221 .z-1{z-index:1}.gps-493488036726703221 .mx-auto{margin-left:auto;margin-right:auto}.gps-493488036726703221 .mb-0{margin-bottom:0}.gps-493488036726703221 .flex{display:flex}.gps-493488036726703221 .inline-flex{display:inline-flex}.gps-493488036726703221 .grid{display:grid}.gps-493488036726703221 .h-5{height:20px}.gps-493488036726703221 .h-full{height:100%}.gps-493488036726703221 .w-5{width:20px}.gps-493488036726703221 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-493488036726703221 .animate-spin{animation:spin 1s linear infinite}.gps-493488036726703221 .flex-col{flex-direction:column}.gps-493488036726703221 .items-center{align-items:center}.gps-493488036726703221 .justify-center{justify-content:center}.gps-493488036726703221 .gap-y-0{row-gap:0}.gps-493488036726703221 .overflow-hidden{overflow:hidden}.gps-493488036726703221 .break-words{overflow-wrap:break-word}.gps-493488036726703221 .rounded-none{border-radius:0}.gps-493488036726703221 .text-g-text-3{color:var(--g-c-text-3)}.gps-493488036726703221 .no-underline{text-decoration-line:none}.gps-493488036726703221 .opacity-25{opacity:.25}.gps-493488036726703221 .opacity-75{opacity:.75}.gps-493488036726703221 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-493488036726703221 .duration-200{transition-duration:.2s}.gps-493488036726703221 .duration-300{transition-duration:.3s}.gps-493488036726703221 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-493488036726703221 .disabled\:btn-disabled:disabled{cursor:default}.gps-493488036726703221 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-493488036726703221 .disabled\:opacity-30:disabled{opacity:.3}.gps-493488036726703221 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-493488036726703221 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-493488036726703221 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-493488036726703221 .\[\&_p\]\:inline p{display:inline}.gps-493488036726703221 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-493488036726703221 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-493488036726703221 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--pos:sticky;--top:0px;--z:3;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g1bkqQlIKT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pb:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1bkqQlIKT mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCVFJzged7 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3M1p6MsdY"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:15px;--pr:15px;--cg:24px;--cg-mobile:14px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3M1p6MsdY mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gLrmQWabHH relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gCEDEroQ73"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:24px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCEDEroQ73 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwBqqpkqOG relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gahl4s3idd "
        style="--ta:right;--b:solid;--bc:rgba(255, 255, 255, 0.6);--bw:0px 1px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pr:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:right">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word"
        >
        <p>Back-to-School Sale</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9t4hFd4Lu relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gsnFUqbkI_ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word"
        >
        <p>Big Savings Today Up To 35% OFF&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gd6FhD3wMw "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word"
        >
        <p>Back-to-School Sale Up To 35% OFF&nbsp;</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAcUfglUOz relative flex flex-col"
    >
      <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    class=""
  >
    <style>
    .gQ52BIxylm.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gQ52BIxylm:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FF871D;
  
      
    }
  </style>
    <a
      href="#" target="_self" data-id="gQ52BIxylm" aria-label="Shop Now"
      data-state="idle"
      class="gQ52BIxylm gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:transparent;--bg:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--hvr-c:#FF871D;--c:var(--g-c-text-3, text-3);--pl:24px;--pr:24px;--pt:4px;--pb:4px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:4px;--pb-tablet:4px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:4px;--pb-mobile:4px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:0px;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Shop Now
      </span>
    </a>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-493488036726703221 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e38a4c-3/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=493488036407936117&sectionId=493488036726703221)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
