
  
  
      <style>
        @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-492790951304037599 .pointer-events-auto{pointer-events:auto}.gps-492790951304037599 .relative{position:relative}.gps-492790951304037599 .mx-auto{margin-left:auto;margin-right:auto}.gps-492790951304037599 .mb-0{margin-bottom:0}.gps-492790951304037599 .block{display:block}.gps-492790951304037599 .\!inline{display:inline!important}.gps-492790951304037599 .flex{display:flex}.gps-492790951304037599 .grid{display:grid}.gps-492790951304037599 .hidden{display:none}.gps-492790951304037599 .h-full{height:100%}.gps-492790951304037599 .w-full{width:100%}.gps-492790951304037599 .max-w-full{max-width:100%}.gps-492790951304037599 .flex-col{flex-direction:column}.gps-492790951304037599 .items-center{align-items:center}.gps-492790951304037599 .justify-center{justify-content:center}.gps-492790951304037599 .gap-y-0{row-gap:0}.gps-492790951304037599 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-492790951304037599 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492790951304037599 .duration-200{transition-duration:.2s}.gps-492790951304037599 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-492790951304037599 .tablet\:block{display:block}.gps-492790951304037599 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-492790951304037599 .mobile\:block{display:block}.gps-492790951304037599 .mobile\:hidden{display:none}}.gps-492790951304037599 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492790951304037599 .\[\&_p\]\:inline p{display:inline}.gps-492790951304037599 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492790951304037599 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="-DWoi7Uo9D"
        style="--border:;--rounded:;--pt:var(--g-s-3xl);--pb:var(--g-s-xl);--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-text-2);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="-DWoi7Uo9D mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="LQNxdkizPX relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2rC8du7xh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 5fr) minmax(0, 4fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2rC8du7xh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geHGrQqvXF relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="h1vAjwlZbX"
        style="--border:;--rounded:;--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="h1vAjwlZbX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="EJyCeIHyay relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image guLDfM2eQB"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/add0f662-1953-4a41-afdd-7321c2ccbfc5/-/format/auto/" data-srcset="https://ucarecdn.com/add0f662-1953-4a41-afdd-7321c2ccbfc5/-/format/auto/ 768w,https://ucarecdn.com/add0f662-1953-4a41-afdd-7321c2ccbfc5/-/format/auto/ 1024w,https://ucarecdn.com/add0f662-1953-4a41-afdd-7321c2ccbfc5/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="28" height="28" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:28/28;--aspect-tablet:28/28;--aspect-mobile:28/28;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="DiWcuBZgEq relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBTRF4fNG4 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>2118 Thornridge Cir, Connecticut 35624</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQg8BDgEbx relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="HO86Cm_KPX"
        style="--border:;--rounded:;--mt-tablet:var(--g-s-xl);--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="HO86Cm_KPX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="3V3ebbtrKk relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gRGmoIM0sm"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/026f1597-2118-4edc-a0fa-b643f402f00f/-/format/auto/" data-srcset="https://ucarecdn.com/026f1597-2118-4edc-a0fa-b643f402f00f/-/format/auto/ 768w,https://ucarecdn.com/026f1597-2118-4edc-a0fa-b643f402f00f/-/format/auto/ 1024w,https://ucarecdn.com/026f1597-2118-4edc-a0fa-b643f402f00f/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="28" height="28" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:28/28;--aspect-tablet:28/28;--aspect-mobile:28/28;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="S62dOua9qa relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_BeCMyRnr "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>demo.gempages@gmail.com</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guiD1Pq73m relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="WRm6C1Kk7m"
        style="--border:;--rounded:;--mt-tablet:var(--g-s-xl);--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="WRm6C1Kk7m mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="7kc9WL21Gs relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gG_pOo1HSX"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/fad668e6-55e2-4dfe-b3df-9f35856e550f/-/format/auto/" data-srcset="https://ucarecdn.com/fad668e6-55e2-4dfe-b3df-9f35856e550f/-/format/auto/ 768w,https://ucarecdn.com/fad668e6-55e2-4dfe-b3df-9f35856e550f/-/format/auto/ 1024w,https://ucarecdn.com/fad668e6-55e2-4dfe-b3df-9f35856e550f/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="28" height="28" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:28/28;--aspect-tablet:28/28;--aspect-mobile:28/28;--objf:cover;--w:18px;--w-tablet:18px;--w-mobile:18px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="FgbbBPgZXt relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gk7Nvvf63t "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>+102 3343 4722</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    <div style="--border:;--rounded:;--pt:var(--g-s-3xl);--pb:var(--g-s-xl)" class="aOi6HkLTRw ">
      
    <div
      class="flex justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:rgba(255, 255, 255, 0.1)"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(255, 255, 255, 0.1);--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(255, 255, 255, 0.1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
        
        
    <div
      class="flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(255, 255, 255, 0.1);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
      
      
    <div
      parentTag="Col" id="iuqc8knhcH"
        style="--border:;--rounded:;--ml:auto;--mr:auto;--cg:0px;--gtc:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);--w:232px;--w-tablet:232px;--w-mobile:232px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="iuqc8knhcH mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="zU3ENaAkKI relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image 0tVqBiPyJX"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img loading="lazy"
    quality="100" title="PayPal"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/39630368-d870-49f7-8f7c-f88e983470a5/-/format/auto/" data-srcset="https://ucarecdn.com/39630368-d870-49f7-8f7c-f88e983470a5/-/format/auto/ 768w,https://ucarecdn.com/39630368-d870-49f7-8f7c-f88e983470a5/-/format/auto/ 1024w,https://ucarecdn.com/39630368-d870-49f7-8f7c-f88e983470a5/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="79" height="49" alt="PayPal" priority
    sizes="100vw"
    style="--aspect:79/49;--aspect-tablet:79/49;--aspect-mobile:79/49;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="oFMM9xAGOo relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image IZO6injX-R"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img loading="lazy"
    quality="100" title="Visa"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/3fbe7db7-13d4-476c-af3d-377ed83a3264/-/format/auto/" data-srcset="https://ucarecdn.com/3fbe7db7-13d4-476c-af3d-377ed83a3264/-/format/auto/ 768w,https://ucarecdn.com/3fbe7db7-13d4-476c-af3d-377ed83a3264/-/format/auto/ 1024w,https://ucarecdn.com/3fbe7db7-13d4-476c-af3d-377ed83a3264/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="79" height="49" alt="Visa" priority
    sizes="100vw"
    style="--aspect:79/49;--aspect-tablet:79/49;--aspect-mobile:79/49;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="7yL98BX5lr relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image anQIljS5M1"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img loading="lazy"
    quality="100" title="MasterCard"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/5abf8b6b-ff0a-40c8-acaf-21fba4be80d5/-/format/auto/" data-srcset="https://ucarecdn.com/5abf8b6b-ff0a-40c8-acaf-21fba4be80d5/-/format/auto/ 768w,https://ucarecdn.com/5abf8b6b-ff0a-40c8-acaf-21fba4be80d5/-/format/auto/ 1024w,https://ucarecdn.com/5abf8b6b-ff0a-40c8-acaf-21fba4be80d5/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="80" height="49" alt="MasterCard" priority
    sizes="100vw"
    style="--aspect:80/49;--aspect-tablet:80/49;--aspect-mobile:80/49;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="QJ1CR7LrJB relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image aJLOwjqRTS"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img loading="lazy"
    quality="100" title="ApplePay"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/c246d805-0a9b-4830-ac84-3c906898c8ee/-/format/auto/" data-srcset="https://ucarecdn.com/c246d805-0a9b-4830-ac84-3c906898c8ee/-/format/auto/ 768w,https://ucarecdn.com/c246d805-0a9b-4830-ac84-3c906898c8ee/-/format/auto/ 1024w,https://ucarecdn.com/c246d805-0a9b-4830-ac84-3c906898c8ee/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="79" height="49" alt="ApplePay" priority
    sizes="100vw"
    style="--aspect:79/49;--aspect-tablet:79/49;--aspect-mobile:79/49;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="acaatXE3DK relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image EwbmZzWE9b"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img loading="lazy"
    quality="100" title="GPay"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/25fb21c5-6520-4960-b4fe-1fb074277809/-/format/auto/" data-srcset="https://ucarecdn.com/25fb21c5-6520-4960-b4fe-1fb074277809/-/format/auto/ 768w,https://ucarecdn.com/25fb21c5-6520-4960-b4fe-1fb074277809/-/format/auto/ 1024w,https://ucarecdn.com/25fb21c5-6520-4960-b4fe-1fb074277809/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="79" height="49" alt="GPay" priority
    sizes="100vw"
    style="--aspect:79/49;--aspect-tablet:79/49;--aspect-mobile:79/49;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gluDvUhCDd "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word"
        >
        <p>© 2022 GemPages</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-492790951304037599 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492790951304037599&template_id=492790951119422687)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
