
  
  
      <style>
        @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-493488036676371573 .group-hover\/hero\:scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-493488036676371573 .absolute{position:absolute}.gps-493488036676371573 .relative{position:relative}.gps-493488036676371573 .inset-0{inset:0}.gps-493488036676371573 .left-\[var\(--left\)\]{left:var(--left)}.gps-493488036676371573 .top-\[var\(--top\)\]{top:var(--top)}.gps-493488036676371573 .z-1{z-index:1}.gps-493488036676371573 .mx-auto{margin-left:auto;margin-right:auto}.gps-493488036676371573 .mb-0{margin-bottom:0}.gps-493488036676371573 .flex{display:flex}.gps-493488036676371573 .grid{display:grid}.gps-493488036676371573 .h-full{height:100%}.gps-493488036676371573 .w-full{width:100%}.gps-493488036676371573 .max-w-full{max-width:100%}.gps-493488036676371573 .flex-col{flex-direction:column}.gps-493488036676371573 .\!content-end{align-content:flex-end!important}.gps-493488036676371573 .items-center{align-items:center}.gps-493488036676371573 .justify-end{justify-content:flex-end}.gps-493488036676371573 .justify-center{justify-content:center}.gps-493488036676371573 .gap-y-0{row-gap:0}.gps-493488036676371573 .self-center{align-self:center}.gps-493488036676371573 .overflow-hidden{overflow:hidden}.gps-493488036676371573 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-493488036676371573 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-493488036676371573 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-493488036676371573 .duration-200{transition-duration:.2s}.gps-493488036676371573 .duration-300{transition-duration:.3s}.gps-493488036676371573 .duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-493488036676371573 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-493488036676371573 .group\/hero:hover .group-hover\/hero\:scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-493488036676371573 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-493488036676371573 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-493488036676371573 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-493488036676371573 .\[\&_p\]\:inline p{display:inline}.gps-493488036676371573 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-493488036676371573 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gaFYpI_Es2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaFYpI_Es2 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpPBjJNYLH relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gRbKI54LKV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRbKI54LKV mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUASRagEUN relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g23hRgzOGx"}'
      
      class="g23hRgzOGx group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--d:flex;--d-mobile:flex;--d-tablet:flex;--h:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col overflow-hidden  justify-end"
        style="--h:463px;--h-mobile:432px"
      >
        <div 
          class="overflow-hidden w-full h-full"
          style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip:rect(0, auto, auto, 0)">
          <div
            aria-label="Background Image"
            role="banner"
            class="gp-hero-banner-bg absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center duration-[var(--duration)] group-hover/hero:scale-[var(--scale)]"
            style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/5cfed6dc-25f9-4998-ad3e-758661308a9d/-/format/auto/);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:105%;--top:0;--left:0;--pos:absolute;--bga:scroll;--pos-tablet:absolute;--bga-tablet:scroll;--pos-mobile:absolute;--bga-mobile:scroll"
          > </div>
        </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:0%"
        > </div>
        
        
      
      
    <div
      id
        style="--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="!content-end mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSfssmFTFH relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gYX-sljeJM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:0px;--mb:var(--g-s-l);--mr:0px;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYX-sljeJM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCYKf6fUli relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g703bEx_yJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--pt:var(--g-s-m);--pl:var(--g-s-xl);--pb:var(--g-s-m);--pr:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g703bEx_yJ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxaJ6-Olgq relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gViPv1WAhv "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word"
        >
        <p>MEN’S</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRPlZDpfDo relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gO_OhDBo1f"}'
      
      class="gO_OhDBo1f group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--d:flex;--d-mobile:flex;--d-tablet:flex;--h:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col overflow-hidden  justify-end"
        style="--h:463px;--h-mobile:432px"
      >
        <div 
          class="overflow-hidden w-full h-full"
          style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip:rect(0, auto, auto, 0)">
          <div
            aria-label="Background Image"
            role="banner"
            class="gp-hero-banner-bg absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center duration-[var(--duration)] group-hover/hero:scale-[var(--scale)]"
            style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/91d1886f-51f0-4901-b545-c0188fda3e76/-/format/auto/);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:105%;--top:0;--left:0;--pos:absolute;--bga:scroll;--pos-tablet:absolute;--bga-tablet:scroll;--pos-mobile:absolute;--bga-mobile:scroll"
          > </div>
        </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:0%"
        > </div>
        <a
            href="#"
            target="_self"
            class="absolute inset-0 z-1"
          > </a>
        
      
      
    <div
      id
        style="--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="!content-end mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1NpJc_geT relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gm3FJC-M12"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:0px;--mb:var(--g-s-l);--mr:0px;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gm3FJC-M12 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTA-4iykj8 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g8gKvrRsbY"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--pt:var(--g-s-m);--pl:var(--g-s-xl);--pb:var(--g-s-m);--pr:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8gKvrRsbY mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghv0I858lv relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gHK5nxABEO "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word"
        >
        <p>WOMEN’S</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9OQ4id6LK relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":463,"src":"https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/","width":370},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gnUeQUNp__"}'
      
      class="gnUeQUNp__ group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--d:flex;--d-mobile:flex;--d-tablet:flex;--h:463px;--h-mobile:432px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col overflow-hidden  justify-end"
        style="--h:463px;--h-mobile:432px"
      >
        <div 
          class="overflow-hidden w-full h-full"
          style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip:rect(0, auto, auto, 0)">
          <div
            aria-label="Background Image"
            role="banner"
            class="gp-hero-banner-bg absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center duration-[var(--duration)] group-hover/hero:scale-[var(--scale)]"
            style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url(https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/1574fc0a-16b2-4bf1-9796-e0736579cfe2/-/format/auto/);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:105%;--top:0;--left:0;--pos:absolute;--bga:scroll;--pos-tablet:absolute;--bga-tablet:scroll;--pos-mobile:absolute;--bga-mobile:scroll"
          > </div>
        </div>
        <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:0%"
        > </div>
        <a
            href="#"
            target="_self"
            class="absolute inset-0 z-1"
          > </a>
        
      
      
    <div
      id
        style="--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%)"
        class="!content-end mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6rghI4MrI relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gFuW-osUeU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:0px;--mb:var(--g-s-l);--mr:0px;--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFuW-osUeU mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9sfUyV_Mt relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gk_YcAA0bx"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--pt:var(--g-s-m);--pl:var(--g-s-xl);--pb:var(--g-s-m);--pr:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gk_YcAA0bx mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gz7b245_Bc relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gNMzCGPwkg "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Lato, Lato);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word"
        >
        <p>KID’S</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-493488036676371573 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e38a4c-3/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=493488036407936117&sectionId=493488036676371573)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
